.DS_Store
**/.DS_Store
.git
.venv
**/__pycache__
node_modules
**/node_modules
.next
**/.next
.tmp
.npm_cache
backend/data/*.mdb
!backend/data/Sample_Data.json
# Keep original MDBs if they are part of repo, but typically we might want to ignore large data files in build context
