# System
.DS_Store
.tmp
.npm_cache

# Build Artifacts
web-client-build/
backend/src/protos/
web-client/lib/proto/

# Dependencies
**/node_modules/
*.zip
backend/venv/
backend/__pycache__/
backend/data/
*.pyc

# Python/uv
.uv_cache
.venv
build/
dist/
*.egg-info/

# Node/npm
.npmrc
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local

# IDE
.vscode/
.idea/

# Testing
test.mdb
coverage/
TRASH/
