node_modules/
.next/
.npm-cache/
.npm_cache/
.DS_Store
**/.DS_Store
.git/
.npmrc
*.mdb
*.log
tmp/
coverage/
dist/
build/
backend_protos_temp/
!backend_protos_temp/
large_test_2mb.mdb
package-lock 2.json
pnpm-lock.yaml
