{% extends "_base_report.j2" %}
{% import "_macros.j2" as macros %}

{% block content %}
    <div>
    {% for group in groups %}
    <div class="event-block">
        <div class="event-header">
            {{ group.header }}
        </div>
        
        {% for heat in group.heats %}
        <div class="heat-block">
            <div class="heat-header">
                {{ heat.header }}
            </div>
            <table>
                <thead>
                    <tr>
                        <th class="col-lane">Ln</th>
                        <th class="col-name">Name</th>
                        <th class="col-team">Team</th>
                        <th class="col-seed">Seed</th>
                        {% if show_dq_lines %}
                        <th class="col-dq border-left">DQ</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% set final_colspan = 4 %}
                    {% if show_dq_lines %}{% set final_colspan = 5 %}{% endif %}
                    
                    {% for entry in heat.sub_items %}
                        {{ macros.render_standard_entry_row(entry, is_zebra=zebra_striping, show_dq_lines=show_dq_lines) }}
                        
                        {# Relay Swimmers #}
                        {{ macros.render_relay_swimmers_row(entry, is_zebra=zebra_striping, colspan=final_colspan, show_dq_lines=show_dq_lines) }}
                        
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    </div>
{% endblock %}
