{% extends "_base_report.j2" %}
{% import "_macros.j2" as macros %}

{% block container_class %}timer-sheet-content{% endblock %}

{% block extra_css %}
        .group-block {
            page-break-after: always;
        }
        .group-block:last-child {
            page-break-after: auto;
        }
        .timer-table td {
            height: 60pt; /* Ensure enough space for signatures/writing */
            vertical-align: middle;
        }
{% endblock %}

{% block content %}
    {% for group in groups %}
    <div class="group-block">
        {% for heat in group.heats %}
        <div class="heat-block">
            <div class="heat-header">
                {{ group.header }} - {{ heat.header }}
            </div>
            <table class="timer-table">
                <thead>
                    <tr>
                        <th class="col-lane">Lane</th>
                        <th class="col-name">Swimmer / Relay</th>
                        <th class="col-seed">Seed</th>
                        <th class="col-box border-left" style="width: 120pt;">Time 1</th>
                        <th class="col-box border-left" style="width: 120pt;">Time 2 / Final</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in heat.sub_items %}
                    <tr class="entry-row">
                        <td class="col-lane">{{ entry.lane }}</td>
                        <td class="col-name">
                            <div class="swimmer-name-text" style="font-size: 12pt; font-weight: bold;">{{ entry.name }}</div>
                            <div class="entry-team-name">({{ entry.team }})</div>
                        </td>
                        <td class="col-seed font-mono" style="font-size: 11pt;">{{ entry.time }}</td>
                        <td class="col-box border-left"></td>
                        <td class="col-box border-left"></td>
                    </tr>
                    
                    {# Relay Swimmers #}
                    {{ macros.render_relay_swimmers_row(entry, is_zebra=false, colspan=3) }}
                    
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
{% endblock %}
